# Project exclude paths
/BasketService/target/
/DiscountService/target/
/EurekaServer/target/
/OrderService/target/
/UserService/target/
/WebMarket/target/
/InventoryService/target/
/ShipmentService/target/
/ProductService/target/
/MobileMarket/target/
/WebMarket/target
/.idea
/S3-Upload-Library/target/
